//- includes/head.jade
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')  
title= _title

<!-- Bootstrap core CSS -->
link(href='/css/basic/bootstrap.min.css', rel='stylesheet')

<!-- Custom fonts for this template -->
link(href="/css/basic/all.min.css" , rel="stylesheet" , type="text/css")
link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" , rel="stylesheet" , type="text/css")
link(href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" , rel="stylesheet" , type="text/css")

<!-- Plugin CSS -->
link(href="/css/basic/magnific-popup.css" , rel="stylesheet" , type="text/css")

<!-- Custom styles for this template -->
link(href="/css/basic/freelancer.min.css" , rel="stylesheet")

script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
